@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body{
  padding: 0%;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  color: #FFFFFF;

  b{
    color: #EC4899;
    font-weight: 800;
  }

  button{
    border: none;
    padding: 10px 40px;
    background-color: #E93DC2;
    color: #FFFFFF;
    font-weight: 700;
    transition: 0.2s;
  }

  button:hover{
    border: none;
    background-color: #BC1596;
    transition: 0.2s;
  }

  label{
    font-weight: 700;
  }
}

.mt_50{
  margin-top: 50px;
}

.container{
  display: flex;
  justify-content: center;

  label{
    margin-top: 20px;
    margin-bottom: 5px;
  }

  div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.column{
  margin: 50px;

  input{
    border: none;
    border-radius: 8px;
    padding: 10px 8px;
    width: 300px;
    background-color: #292929;
    color: #FFFFFF;

    transition: 0.5s;
  }

  input:hover{
    box-shadow: inset 0px 0px 5px 2px rgba(248, 111, 24, 35%);
    
    transition: 0.5s;
  }

  input:focus {
    outline: none;
    box-shadow: inset 0px 0px 5px 2px rgba(248, 111, 24, 35%);
    
    transition: 0.5s;
  }

  select{
    border: #292929;
    border-right: 16px solid #292929;
    border-radius: 8px;
    padding: 10px 8px;
    width: 400px;
    background-color: #292929;
    color: #FFFFFF;

    transition: 0.5s;
  }

  textarea{
    border: none;
    border-radius: 8px;
    padding: 10px 8px;
    width: 384px;
    height: 200px;
    background-color: #292929;
    color: #FFFFFF;

    transition: 0.5s;
  }

  textarea:hover{
    box-shadow: inset 0px 0px 5px 2px rgba(248, 111, 24, 35%);
    
    transition: 0.5s;
  }

  textarea:focus {
    outline: none;
    box-shadow: inset 0px 0px 5px 2px rgba(248, 111, 24, 35%);
    
    transition: 0.5s;
  }

  .row{
    display: flex;
    flex-direction: row;

    div{
      margin: 0px 50px;
    }
  }
}